.progress-bar{
  width:80% ;
  height: 20px;
  border: 1px solid black;
  position: relative;
}
.child-progress{
  position: absolute;
  width:100% ;
  height: 20px;
  border: 1px solid black;
  background-color: green;
  transform: scaleX(0);
  transition: transform 2s ease-in ;
  transform-origin: 0%;


}
.fill{
  transform: scaleX(1);
}
.star{
  background-color: gold;
}